# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6b1119a8cbe1e853348b8b9fc5a034c14d9bc9e3e26d4683a4bbb15fe705be31f86bc0687fab83f25ded09e01fa2117b1cd6e53c2d3e3aec186a33b16bf47af9

test:
  secret_key_base: 01d88e865adae5ed728b31c82eda309813a33668e105ef2af0756239fad44c4ea92537da526696f3556f76b7ea499a54484959d7f49cf3fcd73ad23c9f3573d5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
